<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/font.css">
    <title>언제쯤 연애할 수 있을까?</title>
  </head>
  <body class="container">
    <main class="start_page page">
      <div class="start_wrapper wrapper">
        <img id="start_img" src="../static/images/flog.jpeg">
        <h1 class="start_title fade_in" style="font-weight: bolder">
          도대체 언제<br /><label style="color: #be9bc0">연애</label>할 수
          있을<label id="endLetter"
            >까<label class="qm1 qm size">?</label
            ><label class="qm2 qm">?</label></label
          >
        </h1>
        <div class="btn_wrapper">
          <button id="btn_start" class="button fade_in">시작하기</button>
        </div>
      </div>
    </main>
    <script src="../assets/js/start.js"></script>
  </body>
</html>
