$color1 : #f5c5c5;
$color2 : #f0a6a6;
$color3 : #eb8888;
$color4 : #e66969;

$color5 : #e3d7e8;
$color6 : #b799b9;
$color7 : #9f7dca;

@media (max-width: 426px){
  html, body{
    height: 100%;
    width: 100%;
  }
  html {overflow-y: scroll; }
  body {overflow-y: auto; }
}
@media (min-width: 427px){
  body {width: 426px!important; height: 625px;}
  html {height: 100%; display: flex; align-items: center; justify-content: center;}
}

body {margin: 0; font-size: 14px;}

.container { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.page{
  width: 90%;
  height: 100%;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
}


a {text-decoration: none; color: black;}
.title {font-size: 24px; margin-bottom: 30px; line-height: 35px;}

.wrapper{
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}

button:hover { cursor: pointer;}
.bold {border: 1px solid  #be9bc0!important;}
.removeAlign {align-items: unset;}
.half_HL {background: linear-gradient(to top, #e3d7e8 50%, transparent 50%);}
.half_HL_Y {background: linear-gradient(to top, #FFE400 50%, transparent 50%);}

// 시작 페이지

.start_page{
  .start_title {font-size: 30px;
    margin-bottom: 30px;
    line-height: 50px;
    font-weight: 100;
  }

  #endLetter {position: relative;}

  .qm{
    display: inline-block;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
  }

  .qm1 {    
    top: 10px;
    left: 30px;
    transform: rotate(20deg);
  }
  
  .qm2{
    left: 45px;
    top: -15px;
    transform: rotate(-30deg);
  }
  
  #btn_start {  
    font-size: 15px;
  }

  #start_img {
    width: 120%;
    max-width: 250px;
    margin: 0px;
  }
}

// 질문 페이지

.question_page{
  display: flex;
  flex-direction: column;
  position: relative;

  .question_title {
    padding: 0px 30px; line-height: 30px;
    margin-bottom: 60px;
  }

  .progress_question{
    #run { // gif
      width: 30px; height: 40px;
      position: absolute; 
      top: 60px;
    }
  
    
    #heart_wrapper {
      position: absolute; 
      top: 70px;
      right: 7%;

      #heart {
        position: relative;
        width: 25px; height: 25px;
      }
      #heart:before,
      #heart:after {
        position: absolute;
        content: "";
        left: 12px;
        top: 0;
        width: 12px;
        height: 20px;
        background: $color6;
        border-radius: 20px 20px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      #heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
    }
    
    #ground {
      position: absolute; 
      width: 87%;
      height: 1.5px;
      background: black;
      top: 100px;
      left: 6%;
      opacity: 0.6;
    }
  }

  .question_btn_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
    button {
      margin-bottom: 15px;
      border: 1px solid gray;
      width: 85%;
      padding: 25px;
      outline: none;
      font-size: 15px;
      border-radius: 15px;
      background: transparent;
      color: black;
    }
  }
  

  #p_num {
    color: darkgray;
    position: absolute;
    top: 110px;
    right: 35px;
  }

}

.loading_page {
  display: flex;
  flex-direction: column;
}

// 결과

.result_page{
  display: block;
  margin: 0 auto;
  overflow: visible;

  #type_is { display:block; margin-top: 10px; color: gray; font-size: 13px;}
  
  .result_title {
    display: block;
    font-weight: default;
    margin:0px!important;
    line-height: 1.1;
    font-size: 24px;
  }
  .result {
    margin-bottom: 10px;
    padding: 20px;

    img {
      width: 200px;
      height: 200px;
      margin: 10px;
      object-fit: cover;
    }
  }


  .machine_wrapper{ // 기계
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;

    #click_me {
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 145px;
      font-weight: bold
    }

    #machine {
      display: flex;
      position: relative;
      width: 250px; 
      height: 250px;
      border: 3px solid darkgray;
      background: #f5f6fa;
      border-radius: 20px;
      margin-bottom: 20px;
      align-items: center;
      flex-direction: column;
  

      #machine_display{
        width: 200px;
        height: 100px;
        border: 15px solid gray;
        background: #dfe6e9;
        border-radius: 10px;
        line-height: 100px;
        font-family: "Gothic";
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
      }

       #num_display{
        width: 90px;
        height: 45px;
        position: absolute;
        top: 190px;
        left: 15px;
        background: black;
        border-radius: 3px;
        line-height: 45px;
        text-align: center;

        label {
          display: block;
          color: greenyellow;
          font-size: 40px;
          letter-spacing: 5px;
          margin: 0px;
          margin-left: 5px;
        }
      }

      #machine_btn {
        position: absolute;
        top: 190px;
        right: 20px;
        width: 60px;
        height: 40px;
        background-color: #efefef;
        border : 1px solid gray;
        border-radius: 5px;
      }

      #number_ticket {
        position: absolute;
        top: 120px;
        width: 100px;
        height: 120px;
        border: 1px solid black;
        background: #fafafa;
        z-index: -1;
      }
    }
  }

  .result_wrapper {
    text-align: center;
    margin-top: 20px;

    .waitingNum_wrapper{
      text-align: center;
      display: block;
  
      #num_is {font-size: 21px; margin-top: 10px; margin-bottom: -10px;}
  
      .rank_explain{
        #rank_ment1 {font-size: 17px; margin-bottom: 10px; margin-top: 20px;}
        #rank_ment2 {
          font-size: 15px;

          #perc {color: $color7;}
        }
      }
      
      .num_paper{
        width: 210px;
        height: 260px;
        border: 2px solid black;
        margin: 30px auto;
        background-color: #fafafa;
  
        #bold_line {
          width: 180px;
          height: 4px;
          background: black;
          margin-top: 50px;
          margin-bottom: 10px;
          margin-left: 14px;
        }
  
        #wait_letter {font-size: 20px;}
        #wait_num {font-size: 50px; margin-bottom: 10px; font-weight: bold; }
  
        #line {
          width: 180px;
          height: 2px;
          background: black;
          margin-bottom: 10px;
          margin-left: 14px;
        }
  
        #now_is{
          font-size: 16px;
          #now{
            color: red;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
        
    }
  
    .character_wrapper{
      #after {color: $color7;}
      .explanation {
        margin-top: 10px;
        text-align: left;
        
        li {margin-bottom: 10px;}
      }
  
      #after_explain {font-size: 17px;};
    }
  
    .share_wrapper{
      button {
        background: transparent;
        border: 2px solid gray;
        border-radius: 15px;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        width: 40%;
        height: 35px;
        line-height: 18px;
      }
      #store {margin-right: 15px;}
  
      .share {
        border: 1px solid gray;
        border-radius: 15px;
        margin-top: 30px;
      }
    }
  }
}